<a href="https://colab.research.google.com/github/dthomas529/big-data-transformations/blob/main/CSV_to_Warehouse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas sqlalchemy psycopy2

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.38)
ERROR: Could not find a version that satisfies the requirement psycopy2 (from versions: none)
ERROR: No matching distribution found for psycopy2

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Extract: Read Data from CSV
filepath = "/content/sample_data/california_housing_test.csv)"
df = pd.read_csv(filepath)

NameError: name 'pd' is not defined

In [ ]:
REDSHIFT_CONN_STR = "postgresql://user:password@redshift-cluster-url:5439/your_database"

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
# Transform: Transform: Clean and Aggregate Data
def transform_sales_data(df):
    df["total_sales"] = df["price"] * df["quantity"]
    return df[["order_id", "product", "price", "quantity", "total_sales", "date"]]
    print (df)

In [ ]:
shape(df)

NameError: name 'shape' is not defined

In [ ]:
# Load: Insert Data into Amazon Redshift
def load_data_to_redshift(df):
    engine = create_engine(REDSHIFT_CONN_STR)
    df.to_sql("sales_data", engine, if_exists="append", index=False)
    print("Data successfully loaded into Redshift.")

In [ ]:
Redshift.")

# Main Pipeline
if __name__ == "__main__":
    raw_data = extract_csv_data("sales_data.csv")
    cleaned_data = transform_sales_data(raw_data)
    load_data_to_redshift(cleaned_data)